<p>Ton profil/habitude</p>
<div class="container">

    <div class="frequencyPerWeek">Combien de fois joues tu par semaine: {{playerHabit.frequencyPerWeek}} fois par semaine.</div>

    <div class="isNocturnal">Joues tu la nuit ?: {{playerHabit.isNocturnal}}</div>

    <div class="sessionDurationInHour">Environs combien d'heure joues tu par jour: {{playerHabit.sessionDurationInHour}} heure(s) environs.</div>

    <div class="isHotBlooded">Rages tu souvent ?: {{playerHabit.isHotBlooded}}.</div>

    <div class="isLeader">Sais tu mener ?: {{playerHabit.isLeader}}.</div>

    <div class="pvpFriendly">Aimes tu le "joueur contre joueur"?: {{playerHabit.pvpFriendly}}.</div>

    <div class="pveFriendly">Aimes tu le "joueur contre environement"?: {{playerHabit.pveFriendly}}.</div>

</div>

        
    

