<div class="player-habit">
  <h4>Habitude</h4>
  <div class="container">
    <p class="frequencyPerWeek">
      <span class="name-content">Connexion :</span>
      {{ playerHabitToChild?.frequencyPerWeek }} fois par semaine.
    </p>
    <p class="isNocturnal">
      <span class="name-content">Joueur nocturne :</span>
      {{ playerHabitToChild?.isNocturnal }}
    </p>
    <p class="sessionDurationInHour">
      <span class="name-content">Durée moyenne des sessions :</span>
      {{ playerHabitToChild?.sessionDurationInHour }} heure(s) environ.
    </p>
    <p class="isHotBlooded">
      <span class="name-content">Plutôt nerveux :</span>
      {{ playerHabitToChild?.isHotBlooded }}.
    </p>
    <p class="isLeader">
      <span class="name-content"></span>Âme de meneur :
      {{ playerHabitToChild?.isLeader }}.
    </p>
    <p class="pvpFriendly">
      <span class="name-content">Adepte du PVP :</span>
      {{ playerHabitToChild?.pvpFriendly }}.
    </p>
    <p class="pveFriendly">
      <span class="name-content">Adepte du PVE :</span>
      {{ playerHabitToChild?.pveFriendly }}.
    </p>
  </div>
</div>
