img{
    max-width: 50vw;
    max-height: auto;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0em 2em 0em;
}

@media screen and (min-width : 768px) {
    img{
        max-width: 40%;
        max-height: 40%;
    }
    .img-container{
        margin: 0;
    }
}