<div class="game-card" *ngFor="let game of gameChild.gameList ; let i = index ">
    <a href={{gameChild.gameList}} target="_blank">
        <h2>{{gameChild.username}}</h2>
    </a>
    <p>Catégorie(s) :</p>
    <div class="list-category-game">
        <li class="genreList" *ngFor="let genre of gameChild.gameList[i].genreList">{{genre.name}}</li>
    </div>

    <div *ngFor="let userGameInfo of gameChild.userGameInfoList">
        <div class="etiquet-pseudo">
            <p>@ {{userGameInfo.userPseudo}}</p>
        </div>
        <div class="information-list">
            <ul>
                <li>Niveau : <span>{{userGameInfo.level}}</span></li>
                <li>Serveur : <span>{{userGameInfo.serverName}}</span></li>
                <li>Guilde : <span>{{userGameInfo.guild}}</span></li>
                <li>Rang : <span>{{userGameInfo.pilouRank}}</span></li>
                <li>Difficulté : <span>{{userGameInfo.difficulty}}</span></li>
            </ul>
        </div>
    </div>

</div>