.game-card {
  background: #fff;
  width: 15rem;
  margin: 0.5em 0;
  padding-left: 1.2em;
  padding-right: 1rem;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  border-bottom: 4px solid #8738bb;
  box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
}

.game-card a {
  text-decoration: none;
  cursor: pointer;
}

.game-card h2 {
  margin-bottom: 15px;
  font-size: 27px;
  font-weight: 600;
  color: #8738bb;
}

.list-category-game {
  display: flex;
  gap: 0.5em;
}

.genreList {
  font-size: 1em;
  list-style: none;
  font-family: "Karma", serif;
}

.etiquet-pseudo {
  position: relative;
  background: #8738bb;
  color: #f7d125;
  width: 14.46rem;
  padding: 0.2rem 1.2rem;
  border-radius: 5px 0 0 5px;
}

.etiquet-pseudo p {
  margin: 0;
  padding-top: 0.4rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
}

.etiquet-pseudo div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  border-top: 13px solid #c58102;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
}

.information-list {
  margin-top: 16px;
}

.information-list ul {
  padding: 0;
  font-size: 1em;
}

.information-list ul li {
  color: #4d4d4d;
  list-style: none;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.information-list ul li svg {
  width: 0.9rem;
  fill: currentColor;
}

.information-list ul li span {
  font-weight: 300;
}
