.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.game-detail-card {
  border: none;
  width: 15em;
  height: 20em;
  margin: 2em;
  border-radius: 2em;
  background-color: #8738bb;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.game-detail-card:hover {
  transform: scale(1.1);
  transition: transform .1s;    
}

.thumbnail {
  width: 10em;
}

.update-delete {
  display: flex;
  justify-content: center;
}

.button-update {
  margin: 1px;
}

.button-delete {
  margin: 1px;
  cursor: pointer;
}