<div class="game-detail-card">

   <div class="game-info">
      <img *ngIf="gameInfoChild.game" class="thumbnail" [src]="gameInfoChild.game.photoUrl" />
      <p class="userpseudo">{{gameInfoChild.userPseudo}}</p>
      <p><span>Ta guilde :</span> {{gameInfoChild.guild}}</p>
      <p><span>Ton niveau :</span> {{gameInfoChild.level}}</p>
      <p><span>Ton rang :</span> {{gameInfoChild.pilouRank}}</p>
      <p><span>Difficulté :</span> {{gameInfoChild.difficulty}}</p>
      <p><span>Ton serveur :</span> {{gameInfoChild.serverName}}</p>
   </div>

   <div  *ngIf="isOwner" class="update-delete">
      <button  (click)="put()" class="button-update"> Modifier le jeu</button>
      <button  (click)="delete()" class="button-delete">Supprimer le jeu</button>
   </div>

</div>