.game-info {
  display: flex;
  flex-direction: column;

}

.game-detail-card {
  border: none;
  width: 15em;
  height: 20em;
  margin: 2em;
  border-radius: 2em;
  background-color: #8738bb;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.game-detail-card:hover {
  transform: scale(1.1);
  transition: transform .1s;    
}