.newGameFormContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.newGameForm{
    position: absolute;
    top: 12%;
    width: 90%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 10px grey;
}

.crossFlex{
    display: flex;
    justify-content: right;
    margin: 10px;
}

.closeFormWindow{
    width: 20px;
    height: 20px;
}

.addGenreButton{
    border: 1px solid black;
    height: 100%;
    width: auto;
    border : none;
}

.addGenreButton:hover{
    cursor: pointer;
}

.addedGenre{
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
}

h3{
    font-size: 1.3em;
    margin-bottom: 1.2em;
}

form{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 80%;
    padding:0.2em 0.2em 0.2em 0.4em;
    border: 1px solid var(--superViolet);
}

label{
    margin-top: 1em;
    text-align: left;
    font-weight: bold;
}

button{
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: bold;
    border : none;
}

.submit-button{
    width: 50%;
    font-size: 1em;
    padding: 0.8em;
    color: whitesmoke;
    background-color: var(--superViolet);
}

.reset-button{
    width: 50%;
    font-size: 0.7em;
    padding: 0.6em;
    background-color: white;
    border: 2px solid var(--superViolet);
    margin-bottom: 50px;
}

.genreForm{
    width: 83%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    input{
        width: 100%;
        margin: 0px;
    }
}

.duplicateError{
    width: 75%;
    display : flex;
    justify-content: center;
}

@media screen and (min-width : 768px) {
    .newGameForm{
        width: 25%;
}

}

.genre-list{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
