div{
    background-color: var(--superViolet);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-description{
    width: 75%;
    text-align: justify;
    margin: 1em 0 1em 0;
    color: whitesmoke;
    font-size: 18px;
}

.h2-description{
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: -3em;
}

@media screen and (min-width : 768px) {
    .h2-description{
        color: whitesmoke;
        display: contents;
        margin: 0%;
    }
    div{
        display: flex;
        align-items: center;
        min-height: 100%;
        justify-content: center;
    }
    .p-description{
        font-size: 22px;
    }
}