.user-detail-container {
  display: flex;
  flex-direction: column;
}
.intro-user-detail-profil {
  margin: 1.5em 1em 0.5em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  padding-bottom: 0.5em;
  background-color: white;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.14);
}
.user-avatar-profile {
  max-width: 25em;
  margin-right: 1em;
  position: relative;
  bottom: 1em;
  left: 1.5em;
  border-radius: 2em 4em;
  border: 3px solid black;
}
.container-data-user {
  margin: 1em;
}
.container-data-user p {
  text-indent: 0.5em;
  font-weight: 700;
  font-size: large;
}
.container-data-user p:first-child {
  font-size: 2em;
}
.name-content {
  letter-spacing: 0.1em;
  font-weight: 500;
}
.second-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em 1em;
}

.button-update-delete {
  display: flex;
}

// button update

.btn {
  width: 7.5em;
  height: 3em;
  margin: 0.5em;
  background: var(--superViolet);
  color: white;
  border-color: #8738bb;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: var(--superViolet);
  border-color: #8738bb;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

// button delete

.button-delete {
  width: 7.5em;
  height: 3em;
  margin: 0.5em;
  background: white;
  color: var(--superViolet);
  border-color: var(--superViolet);
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.button-delete:hover {
  color: white;
}

.button-delete:after {
  content: "";
  background: var(--superViolet);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.button-delete:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button-back-home {
  margin: 1em;
}

@media screen and (min-width: 768px) {
  .intro-user-detail-profil {
    display: flex;
    flex-direction: row;
  }

  .user-avatar-profile {
    max-width: 25em;
    min-width: 25em;
  }

  .container-data-user {
    margin: 1em;
    margin-left: 2em;
  }

  .second-container {
    flex-direction: row;
  }

  app-player-habit {
    width: 50%;
  }

  app-user-behavior {
    width: 50%;
  }
}
