<div class="user-detail-container">
  <div class="intro-user-detail-profil">
    <img
      class="user-avatar-profile"
      src="{{ userFoundToChild?.linkAvatar }}"
      alt="{{
        userFoundToChild?.name
        }}"
    />
    <div class="container-data-user">
      <p>{{ userFoundToChild?.name }}</p>
      <p>
        <span class="name-content">Localisation :</span>
        {{ userFoundToChild?.country }}
      </p>
      <p>
        <span class="name-content">Présentation :</span>
        {{ userFoundToChild?.biography }}
      </p>
    </div>
  </div>

  <div class="second-container">
    <app-player-habit
      [playerHabitToChild]="userFoundToChild?.playerHabit"
    ></app-player-habit>

    <app-user-behavior
      [userBehaviorToChild]="userFoundToChild?.userBehavior"
    ></app-user-behavior>
  </div>

  <app-game-list
    [userGameListToChild]="userFoundToChild?.gameList"
  ></app-game-list>

  <div class="div-button">
    <div class="button-update-delete">
      <button class="button-update">Modifier le profil</button>
      <button class="button-delete">Supprimer le profil</button>
    </div>
    <button class="button-back-home" [routerLink]="['/home']">Retour</button>
  </div>
</div>