<div class="user-detail-container">
  <div class="intro-user-detail-profil">
    <img class="user-avatar-profile" src="{{ userFoundToChild.linkAvatar }}" alt="{{
        userFoundToChild.username
        }}" />
    <div class="container-data-user">
      <p>{{ userFoundToChild.username }}</p>
      <p>
        <span class="name-content">Localisation :</span>
        {{ userFoundToChild.country }}
      </p>
      <p>
        <span class="name-content">Présentation :</span>
        {{ userFoundToChild.biography }}
      </p>
    </div>
  </div>

  <div class="second-container">
    <app-player-habit [playerHabitToChild]="userFoundToChild.playerHabits"></app-player-habit>

    <app-user-behavior [userBehaviorToChild]="userFoundToChild.userBehavior"></app-user-behavior>
  </div>

  <app-game-list [userGameListToChild]="userFoundToChild"></app-game-list>

  <div class="div-button">
    <div *ngIf="isOwner" class="button-update-delete">
      <button (click)="delete()" class="button-delete">Supprimer le profil</button>
      <button class="btn">
        <a [routerLink]="['/update-profile/', userFoundToChild.id ]">
          Modifier le profil
        </a>
      </button>
    </div>
    <app-back-home-button></app-back-home-button>
  </div>
</div>
<app-footer></app-footer>