<div class="contenair-faq">
<h2>La foire aux questions PlayerBook</h2>

<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details>
  <summary>
    <h3>Comment nous appliquons nos règles ?</h3>
    <svg class="control-icon control-icon-expand" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary><br>
    <h3>Créer un environnement plus sûr pour les conversations</h3>

    <p>Lorsque tout le monde se sent libre de faire entendre sa voix, des conversations exceptionnelles peuvent se produire.</p>
</details>

<details>

  <summary>
    <h3>Pourquoi mon compte PlayerBook peut-il être suspendu ?</h3>
    <svg class="control-icon control-icon-expand" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary><br>
    <h3>Spam :</h3>
    <p>La plupart des comptes que nous suspendons sont des comptes de spam, ou simplement de faux comptes, qui compromettent la sécurité de PlayerBook et de tous nos utilisateurs. Ces types de comptes ne respectent pas les Règles de Playerbook. Il arrive malheureusement que le compte légitime d'une personne soit suspendu par erreur. Dans ce cas, nous nous mettrons en relation avec celle-ci pour annuler la suspension du compte.</p><br>

    <h3>Risque relatif à la sécurité du compte :</h3>
    <p>Si nous suspectons qu'un compte a été piraté ou compromis, nous pouvons le suspendre jusqu'à sa sécurisation et sa restauration au profit de son titulaire, ceci afin de minimiser toute activité malveillante potentielle liée au piratage.</p><br>
    
    <h3>Comportements inappropriés :</h3>
    <p>Nous sommes susceptibles de suspendre un compte si nous recevons un signalement nous indiquant qu'il enfreint nos Règles relatives aux comportements inappropriés. Si un utilisateur fait preuve d'un tel comportement, en envoyant par exemple des menaces à d'autres ou en se faisant passer pour une autre personne, nous pouvons suspendre son compte de façon temporaire, ou même définitive dans certains cas.</p>
</details>

<details>
  <summary>
    <h3>Comment annuler la suspension de votre compte PlayerBook ?</h3>  
    <svg class="control-icon control-icon-expand" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary><br> 
    <h3>Faites les démarches nécessaires pour débloquer votre compte.</h3>
    <p>Si vous vous connectez et voyez des messages qui vous invitent à fournir votre numéro de téléphone ou à confirmer votre adresse email, suivez les instructions pour annuler la suspension de votre compte.</p><br>
    
    <h3>Vous voyez un message indiquant que votre compte est verrouillé ?</h3>
    <p>Il se peut que votre compte soit temporairement désactivé en réponse à des signalements relatifs à un comportement spammeur ou inapproprié. Dans ce cas, vous ne pourrez peut-être pas PlayerBook depuis votre compte pendant une période donnée, ou vous serez invité à vérifier certaines informations vous concernant avant de poursuivre. Obtenez de l'aide pour déverrouiller votre compte.</p><br>
    
    <h3>Faites appel et nous pourrons peut-être annuler la suspension de votre compte.</h3>
    <p> Si vous ne parvenez pas à annuler la suspension de votre compte en suivant les instructions ci-dessus et si vous pensez que nous avons commis une erreur en suspendant ou en verrouillant votre compte, vous pouvez faire appel. Tout d'abord, connectez-vous au compte suspendu. Ensuite, ouvrez un nouvel onglet dans votre navigateur et faites appel.</p> 
</details>

  <details>
    <summary>
      <h3>Informations supplémentaires sur les Règles de PlayerBook</h3>   
      <svg class="control-icon control-icon-expand" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
      <svg class="control-icon control-icon-close" width="30" height="30" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
    </summary><br>
      <p>Dans les Règles de PlayerBook, nous décrivons les circonstances qui peuvent entraîner la suspension d'un compte ou d'autres actions nécessaires pour l'application de nos politiques. Découvrez plus d'informations sur notre politique relative aux comportements inappropriés.</p><br>

      <p>Découvrez des conseils sur les bonnes pratiques relatives à l'utilisation de Twitter (informations sur le nombre d'utilisateurs que vous pouvez suivre, sur la participation aux tendances, sur la limite de réponses à un seul compte, etc.).</p>
  </details>
</div>