<div class="footer-contnair">
    <div class="footer">
        <div class="footer-powered">
            <p>powered by:</p>
            <ul class="list-powered">
                <li class="name-github-link">
                    <div>Clémence</div>
                    <a class="github-link" href="https://github.com/ClemDSC" target="_blank">
                    <div class="github">Github</div></a>
                </li>
                <li class="name-github-link">
                    <div>Mickaël</div>
                    <a class="github-link" href="https://github.com/Necrobeh" target="_blank">
                    <div class="github">Github</div></a>                   
                </li>
                <li class="name-github-link">
                    <div>Raphaël</div>
                    <a class="github-link" href="https://github.com/Caldera37" target="_blank">
                    <div class="github">Github</div></a>                   
                </li>
                <li class="name-github-link">
                    <div>Antoine</div>
                    <a class="github-link" href="https://github.com/guillotANTOINE" target="_blank">
                    <div class="github">Github</div></a>                    
                </li>
            </ul>
        </div>
        <div  class="footer-faq">
            <ul class="list-faq">
                <li>FAQ</li>
                <li>Contact</li>
                <li>CGU</li>
            </ul>
        </div>
    </div>
    <div class="copyright-contnair">
        <p class="copyright">© Copyright 2022 et jusqu'à la fin des temps</p>
    </div>
</div>
