
.footer-contnair{
    margin-top: 1em;
    width: 100%;
    bottom: 0%;
    box-shadow: 0px 4px 15px #404040;
    background-color: #404040;
}

.footer{
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid whitesmoke;
    font-size: larger;
}

.footer-faq{
    width: 100%;
}

.copyright{
    text-align: center;
    color: whitesmoke;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: larger;
}

.copyright-contnair{
    padding-bottom: 1em;
}

.list-powered{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.list-faq{    
    list-style: none;
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

.logo-github{
    width: 30px;
    height: auto;
}

.name-github-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}

.github-link{
    width: 100%;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.footer-powered{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.list:hover{
    text-decoration: underline;
}

@media screen and (min-width : 768px) {

    .footer-faq .footer-powered{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-powered{
        flex-direction: row;
        justify-content: space-around;
    }
 
    .name-github-link{
        justify-content: center;
        p {
            font-size: larger;
        }
    }

    .github-link{
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo-github{
        padding-right: 1em;
    }
}