.container-home-page {
  min-height: 85vh;
}

// animation intro

.wrapper {
  display: grid;
  place-items: center;
color: #1e1e1e;
padding-top: 2em;
}

.typing-demo {
  width: 28ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Libre Franklin', sans-serif; 
}

@media screen and (min-width: 768px){
  .typing-demo{
    font-size: 2em;
  }
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}