<div class="navbar-container">
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="menu__box">
      <li><a class="menu__item" [routerLink]="['/home']">ACCUEIL</a></li>
      <li>
        <a class="menu__item" [routerLink]="['/inscription']">INSCRIPTION</a>
      </li>
      <li>
        <a class="menu__item" [routerLink]="['/']">CONNEXION</a>
      </li>
      <li *ngIf="isAdmin">
        <a class="menu__item" [routerLink]="['/admin']">ADMINISTRATION</a>
      </li>
      <li class="logo-logout" *ngIf="userLogged">
        <app-logout-button></app-logout-button>
      </li>
    </ul>
  </div>
  <div class="block-intro">
    <img
      [routerLink]="['/']"
      src="../../../assets/pictures/playerBook_white.png"
      alt="gamepad"
      class="logo-gamepad"
    />
  </div>
  <div class="list-navigation">
    <a class="hover-introduction" [routerLink]="['/home']">
      <div class="hover-suricat-introduction">
        <img
        src="../../../assets/pictures/gamepad-white.png"
        class="img-hover"
        />
      </div>
      ACCUEIL
    </a>

    <a *ngIf="!userLogged" class="hover-accueil" [routerLink]="['/inscription']">
      <div class="hover-suricat-accueil">
        <img
        src="../../../assets/pictures/gamepad-white.png"
        class="img-hover"
        />
      </div>
      INSCRIPTION
    </a>

    <a *ngIf="!userLogged" class="hover-inscription" [routerLink]="['/']">
      <div class="hover-suricat-inscription">
        <img
        src="../../../assets/pictures/gamepad-white.png"
        class="img-hover"
        />
      </div>
      CONNEXION
    </a>

    <a *ngIf="isAdmin" class="hover-inscription" [routerLink]="['/admin']">
      <div class="hover-suricat-inscription">
        <img
        src="../../../assets/pictures/gamepad-white.png"
        class="img-hover"
        />
      </div>
      ADMINISTRATION
    </a>
    <div class="logout-container" *ngIf="userLogged">
      <app-logout-button></app-logout-button>
      DÉCONNEXION
    </div>
  </div>
</div>
