<div class="navbar-container">
  <div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="menu__box">
      <li><a class="menu__item" [routerLink]="['/']">Introduction</a></li>
      <li><a class="menu__item" [routerLink]="['/home']">Accueil</a></li>
      <li>
        <a class="menu__item" [routerLink]="['/inscription']">Inscription</a>
      </li>
      <li *ngIf="isAdmin">
        <a class="menu__item" [routerLink]="['/admin']">Administration</a>
      </li>
      <li>
        <app-logout-purple-button></app-logout-purple-button>
      </li>
    </ul>
  </div>
  <div class="block-intro">
    <img
      [routerLink]="['/home']"
      src="../../assets/pictures/logo-home-gamepad.png"
      alt="gamepad"
      class="logo-gamepad"
    />
    <h2 class="title-app">Playerbook</h2>
  </div>
  <div class="list-navigation">
    <a class="hover-introduction" [routerLink]="['/']">
      <div class="hover-suricat-introduction">
        <img
          src="../../assets/pictures/PlayerBook-Logo-mini.png"
          class="img-hover"
        />
      </div>
      Introduction
    </a>

    <a class="hover-accueil" [routerLink]="['/home']">
      <div class="hover-suricat-accueil">
        <img
          src="../../assets/pictures/PlayerBook-Logo-mini.png"
          class="img-hover"
        />
      </div>
      Accueil
    </a>

    <a class="hover-inscription" [routerLink]="['/inscription']">
      <div class="hover-suricat-inscription">
        <img
          src="../../assets/pictures/PlayerBook-Logo-mini.png"
          class="img-hover"
        />
      </div>
      Inscription
    </a>

    <a *ngIf="isAdmin" class="hover-inscription" [routerLink]="['/admin']">
      <div class="hover-suricat-inscription">
        <img
          src="../../assets/pictures/PlayerBook-Logo-mini.png"
          class="img-hover"
        />
      </div>
      Administration
    </a>

    <app-logout-button></app-logout-button>
  </div>
</div>
