button.button-back-home{
    cursor: pointer;
    margin: 1em;
    padding: 1em 2em 1em 2em;
    font-size: 0.9em;
    border-radius: 2em;
    border: 3px solid #8738BB;
    transition: transform .3s;    
}

button.button-back-home:hover {
    transform: scale(1.1);
    transition: transform .3s;    
}
