<div class="container-game-list">

  <h4>Jeux enregistrés</h4>
      
  <img *ngIf="isOwner" (click)="addGame()" class="button-add-game" src="../../../../assets/pictures/icons8-plus-2-mathématique-48.png">

  <div class="game-list">
    <app-game-detail 
    *ngFor="let userGameInfo of userGameInfoList" 
    [userGameDetailToChild]="userGameListToChild"
    [gameInfoChild]="userGameInfo" 
    (sendGameInfoChild)="catchGameInfoContent($event)"
    (sendGameToUpdate)="catchGameToUpdate($event)">
    </app-game-detail>
  </div>
</div>

<app-user-game-info-form 
*ngIf="isAddGameFormVisible" 
[gameToUpdateChild]="gameToUpdate"
[userId]="userId"
(sendUserGameInfoForm)="receiveUserGameInfoForm($event)">
</app-user-game-info-form>