.search {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    align-items: center;
    margin-inline: auto;
    margin-top: 1em;
    max-width: 90%;
  
    &__input {
      width: 20.4rem;
      height: 2.7rem;
      border: none;
      border-radius: 1em;
      font-size: 1em;
      padding-left: 3.8rem;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      background: none;
      color: var(--greyDark);
  
      &::placeholder { color: grey; }
      &:focus { 
        outline: none; 
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;  
         + .search__icon {
          color: var(--primary);
        }
      }
    }
  
    &__icon {
      position: absolute;
      font-size: 1em;
      padding: 0 1em;
      display: flex;
      color: var(--greyDark);
      transition: .3s ease;
    }
  }

  @media screen and (min-width: 768px) {
    .search{
      margin: 2em 0;
    }
  }