.div-search{
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
}
=======
}
>>>>>>> 6eab33bec3afff1eca5fb78fad867f6ed45661ea
