    <div class="form-page">
        <div class="form-container">
            <app-first-form *ngIf="isFirstFormValid === true"
            (sendFirstForm)="receiveFirstForm($event)" ></app-first-form>
            <app-second-form *ngIf="isSecondFormValid === true"
            (sendsecondForm)="receiveSecondForm($event)" ></app-second-form>
            <app-third-form *ngIf="isThirdFormValid === true"
            (sendthirdForm)="receiveThirdForm($event)" ></app-third-form>
            <app-fourth-form *ngIf="isFourthFormValid === true"
            (sendFourthForm)="receiveFourthForm($event)" ></app-fourth-form>
            <div *ngIf="isFormComplete">
                Le formulaire a bien été soumis, bienvenue !
            </div>
        </div>
    </div>