<div class="background">
    <div class="form-page">
        <div class="form-container">
            <app-first-form [dataToChild]="firstFormResults" *ngIf="formStep === 1" (sendFirstForm)="receiveFirstForm($event)"></app-first-form>
            <app-second-form *ngIf="formStep === 2" [dataToChild]="firstFormResults.userBehavior" (sendsecondForm)="receiveSecondForm($event)"></app-second-form>
            <app-third-form *ngIf="formStep === 3" [dataToChild]="firstFormResults.playerHabit" (sendthirdForm)="receiveThirdForm($event)"></app-third-form>
        </div>
    </div>
    <div class="buttons-container">
        <div class="back-buttons">
            <app-back-button *ngIf="formStep > 1 && formStep < 5" (goBack)="goBack()">
            </app-back-button>
            <app-back-home-button></app-back-home-button>
        </div>
    </div>
</div>
