.background{
    background-color: #404040;
    min-height: 100vh;
    padding-bottom: 1em;
}

.form-page{
    display: flex;
    justify-content: center;
}

.form-container{
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 2em;
    width: 70%;
    margin: 1em;
    box-shadow: 2px 2px 20px #202020;
    min-height: 75vh;
}

.back-buttons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.buttons-container{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .form-container{
        width: 50%;
    }
}
