form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

p{
    text-align: center;
    font-weight: bold;
}

input{
    margin-top: 1em;
    margin-bottom: 1.5em;
    width: 80%;
    height: 2.5em;
    padding-left: 1em;
}

label{
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

button{
    margin-top: .5em;
    width: 150px;
    font-size: 20px;
    padding : 0.5em;
    border : 1px solid whitesmoke;
    background-color: var(--superViolet);
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width : 768px) {
    input{
        width: 60%;
    }

    button{
        margin-top: 1em;
    }
}