.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  p {
    font-size: larger;
  }
}

.intro-form {
  margin-bottom: 1.5em;
}

button {
  cursor: pointer;
  padding: 1em 2em;
  font-size: 0.9em;
  border-radius: 9px;
  border: 2px solid #8738bb;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
  &:hover {
    transform: translateY(-0.33em);
    box-shadow: 0 2px 5px #ab85c5;
  }
}

label {
  padding-left: 1em;
}

input {
  width: 100%;
  height: 2em;
  border-radius: 9px;
  border: 2px solid hsla(276, 36%, 65%, 0.7);
  padding-left: 1em;
  background-color: whitesmoke;
  &:focus {
    background-color: white;
    box-shadow: 2px 2px 5px #202020;
  }
}

.inputs {
  height: 75vh;
}

div {
  width: 100%;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  button {
    width: fit-content;
  }
}
