<form #firstForm="ngForm" class="form" (ngSubmit)="firstForm.valid && onSubmit()">

    <div>
        <label for="name">Nom :</label>
        <input id="name" name="name" [(ngModel)]="firstFormResults.name" #nameCheck="ngModel" minlength="1" required>
    </div>

    <div>
        <label for="linkAvatar">Lien vers l'avatar :</label>
        <input id="linkAvatar" name="linkAvatar" [(ngModel)]="firstFormResults.linkAvatar" #linkAvatarCheck="ngModel" minlength="3" required>
    </div>

    <div>
        <label for="country">Pays :</label>
        <input id="country" name="country" [(ngModel)]="firstFormResults.country" #countryCheck="ngModel" minlength="3" required>
    </div>

    <div>
        <label for="biography">Dis-nous en plus sur toi :</label>
        <input id="biography" name="biography" [(ngModel)]="firstFormResults.biography">
    </div>

    <button type="submit"[ngStyle]="{backgroundColor: !nameCheck.valid || !linkAvatarCheck.valid || !countryCheck.valid ? 'grey' : '' }">Suivant</button>

</form>