<form #fourthForm="ngForm" class="form" (ngSubmit)="
!nameCheck.valid &&
!gameUrlCheck.valid &&
!pseudoCheck.valid &&
onSubmit()">

    <div>
        <label for="name">Et toi, à quoi tu joues ?</label>
        <input type="text" name="name" id="name" [(ngModel)]="fourthFormResults.name" #nameCheck="ngModel" minlength="1"
            required>
    </div>

    <label class="switch" [ngClass]="{'odd-background' : i % 2 === 0}" *ngFor="let genre of genreList, let i = index">
        <p>{{genreList[i].name}} </p>
        <input type="checkbox" class="checkbox" id="genre" (change)="checkGenre(i)">

        <span class="slider"></span>
    </label>

    <div>
        <label for="game-url">Lien vers le site du jeu : </label>
        <input type="text" name="game-url" id="game-url" [(ngModel)]="fourthFormResults.url" #gameUrlCheck="ngModel"
            minlength="3" required>
    </div>

    <div>
        <label for="pseudo">C'est quoi ton pseudo ? </label>
        <input type="text" name="pseudo" id="pseudo" [(ngModel)]="fourthFormResults.userPseudo" #pseudoCheck="ngModel"
            minlength="1" required>
    </div>

    <div>
        <label for="guild">T'es dans une guilde ? </label>
        <input type="text" name="guild" id="guild" [(ngModel)]="fourthFormResults.guild">
    </div>

    <div>
        <label for="level">Quel niveau ? </label>
        <input type="text" name="level" id="level" [(ngModel)]="fourthFormResults.level">
    </div>

    <div>
        <label for="rank">Quel rang ? </label>
        <input type="text" name="rank" id="rank" [(ngModel)]="fourthFormResults.rank">
    </div>

    <div>
        <label for="difficulty">Quelle difficulté ? </label>
        <input type="text" name="difficulty" id="difficulty" [(ngModel)]="fourthFormResults.difficulty">
    </div>

    <div>
        <label for="server">Quel serveur ? </label>
        <input type="text" name="server" id="server" [(ngModel)]="fourthFormResults.serverName">
    </div>

    <div class="buttonSet">
        <button type="reset" [ngStyle]="{backgroundColor: !fourthForm.valid ? 'grey' : '' }" (click)="nextGame()"
            [disabled]="!fourthForm.valid">Ajouter jeu</button>
        <button type="submit"
            [ngStyle]="{backgroundColor: nameCheck.valid || gameUrlCheck.valid || pseudoCheck.valid ? 'grey' : '' }">Terminer
            !</button>
    </div>

</form>