<div class="global-page">

    <div class="logo">
        <app-landing-logo></app-landing-logo>
    </div>

    <div class="info-text">
        <app-site-description></app-site-description>
    </div>

    <div class="landing-path-button" *ngFor="let button of buttonList" 
    [ngClass]="{'button-0': button.id === 0}">
        <div class="connexion-container" *ngIf="button.id === 0">
            <app-connexion-form></app-connexion-form>
        </div>
        <app-landing-path-button [getButton]="button"></app-landing-path-button>
    </div>
    <div class="margin-bottom"></div>
</div>