<div class="global-page">
  <div class="intro">
    <div class="logo">
      <app-landing-logo></app-landing-logo>
    </div>

    <div class="info-text">
      <app-site-description></app-site-description>
    </div>
  </div>
  <div class="register-auth-container">
    <div class="connexion-container">
      <app-connexion-form></app-connexion-form>
    </div>

    <div class="inscription-container">
      <img src="../../../assets/pictures/playerBook_404.png" alt="gamepad" />
      <p>Pas encore inscrit ?</p>
      <button [routerLink]="['/inscription']">Inscription</button>
    </div>
  </div>

  <!-- <div class="landing-path-button" *ngFor="let button of buttonList" 
    [ngClass]="{'button-0': button.id === 0}">
        <div class="connexion-container" *ngIf="button.id === 0">
            <app-connexion-form></app-connexion-form>
        </div>
        <app-landing-path-button [getButton]="button"></app-landing-path-button>
    </div>
    <div class="margin-bottom"></div> -->
</div>
