body{
    min-height: 100%;
}

.inscription-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    p{
        padding: 1em 0;
    }
}

p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.margin-bottom{
    height: 100px;
}

button{
    width: 150px;
    font-size: 20px;
    padding : 0.5em;
    border : 1px solid var(--superViolet);
    background-color: whitesmoke;
    color: var(--superViolet);
    font-weight: bold;
    cursor: pointer;
}

.register-auth-container{
    img{
        width: 6em;
    }
}

@media screen and (min-width : 768px) {
    div.global-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    }
    
    div.logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
    }

    div.info-text{
        color: whitesmoke;
        margin: 1em;
    }

    div.landing-path-button{
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;
        color: black;
        width: 50vw;
        min-height: 40%;
        align-items: center;
    }

    .intro, .register-auth-container{
        width: 50vw;
    }

    .register-auth-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}