<p class="text-alternative-search">ou recherche par filtre :</p>

<div class="container-checkbox">
  <app-checkbox-filter-users
    *ngFor="let checkbox of checkboxList"
    [checkbox]="checkbox"
    (emitCheckboxChange)="catchCheckboxChange($event)"
  ></app-checkbox-filter-users>
</div>

<div class="list-users-container">
  <app-user-card
    *ngFor="let userCard of 
    isOneCheckboxTruthy && isSearchbarTruthy ? mergedLists : 
    isOneCheckboxTruthy && !isSearchbarTruthy ? userListFilteredByCheckbox : 
    !isOneCheckboxTruthy && isSearchbarTruthy ? userListFilteredBySearchbar : 
    userList"
    [userCardChild]="userCard"
  ></app-user-card>
</div>
