<p>Ton profil/comportement</p>
<div class="container ">

    <div class="isCasual">Joues tu de façon tranquille ?{{userBehavior.isCasual}}.</div>

    <div class="isProactive">Aimes tu prendre des décisions au sein d'une équipe ?{{userBehavior.isProactive}}.</div>

    <div class="isExtravert">Es tu du genre extraverti(e) ?{{userBehavior.isExtravert}}.</div>

    <div class="isPro">Es tu un joueur professionnel ?{{userBehavior.isPro}}.</div>
    
    <div class="employer">Si tu es un joueur professionnel pour qui travailles tu ?{{userBehavior.employer}}.</div>

</div>
