<div class="user-behavior">
  <h4>Comportement</h4>
  <div class="container">
    <p class="isCasual">
      <span class="name-content">Chill : </span>
      {{ userBehaviorToChild?.isCasual }}
    </p>
    <p class="isProactive">
      <span class="name-content">Pro-actif : </span>
      {{ userBehaviorToChild?.isProactive }}
    </p>
    <p class="isExtravert">
      <span class="name-content">Extraverti(e) : </span>
      {{ userBehaviorToChild?.isExtravert }}.
    </p>
    <p class="isPro">
      <span class="name-content">Professionnel : </span>
      {{ userBehaviorToChild?.isPro }}.
    </p>
    <p *ngIf="userBehaviorToChild?.isPro" class="employer">
      <span class="name-content">Team : </span>
      {{ userBehaviorToChild?.employer }}.
    </p>
  </div>
</div>
