.user-behavior {
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
    padding: 0em 0 0.5em 0.5em;
    background-color: #f7d125;
    border-top-left-radius: 1em;
    border-top: 5px solid #8738bb;
    border-left: 5px solid #8738bb;
}
h4{
    margin: .5em 0;
    text-indent: .5em;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}
.name-content{
    letter-spacing: 0.1em;
    font-weight: 500;
}