.page-401{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-character{
    margin: 1em;
    width: 20em;
}

p{
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
}

.p-oops{
    margin: .5em;
}