form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  p {
    font-size: larger;
  }
}

.intro-form {
  margin-bottom: 1.5em;
}

// button {
//   cursor: pointer;
//   padding: 1em 2em;
//   font-size: 0.9em;
//   border-radius: 9px;
//   border: 2px solid #8738bb;
//   transform: translateY(-0.2em);
//   transition: transform 0.1s ease;
//   &:hover {
//     transform: translateY(-0.33em);
//     box-shadow: 0 2px 5px #ab85c5;
//   }
// }

input {
  width: 100%;
  height: 2em;
  border-radius: 9px;
  border: 2px solid hsla(276, 36%, 65%, 0.7);
  padding-left: 1em;
  background-color: whitesmoke;
  &:focus {
    background-color: white;
    box-shadow: 2px 2px 5px #202020;
  }
}

.inputs {
  height: 75vh;
}

div {
  margin-bottom: 1em;
  width: 100%;
}

.switch {
  --button-width: 2em;
  --button-height: 1em;
  --toggle-diameter: 1em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 1em;
  --color-grey: #cccccc;
  --color-green: #e7d428;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
  display: none;
}

.switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

// @media screen and (min-width: 768px) {
//   button {
//     width: fit-content;
//   }
// }

.btn {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background: white;
  color: var(--superViolet);;
  border-color: var(--superViolet);
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
 }
 
 button:hover {
  color: white;
 }
 
 button:after {
  content: "";
  background: var(--superViolet);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }