<form #secondForm="ngForm" (ngSubmit)="secondForm.valid && onSubmit()">
    <p class="intro-form">Quel joueur es-tu ? </p>

    <div>
        <label class="switch">
            <label for="isCasual">Joueur occasionnel ? </label>
            <input type="checkbox" name="isCasual" class="checkbox" id="isCasual"
            [(ngModel)]="dataToChild.casual">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isProactive">Plutôt proactif ? </label>
            <input type="checkbox" name="isProactive" class="checkbox" id="isProactive" [checked]="dataToChild.proactive" 
            [(ngModel)]="dataToChild.proactive">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isExtravert">Plutôt extraverti ? </label>
            <input type="checkbox" name="isExtravert" class="checkbox" id="isExtravert"
            [(ngModel)]="dataToChild.extravert">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isPro">Tu es un joueur pro ? </label>
            <input type="checkbox" name="isPro" class="checkbox" id="isPro"
            [(ngModel)]="dataToChild.pro">
            <span class="slider"></span>
        </label>
    </div>

    <div *ngIf="dataToChild.pro">
        <label for="employer">Woah, dans quelle équipe ? </label>
        <input id="employer" name="employer" [(ngModel)]="dataToChild.employeer" #employerCheck="ngModel">
    </div>

    <button type="submit">Suivant</button>

</form>