<form #secondForm="ngForm" (ngSubmit)="secondForm.valid && onSubmit()">

    <div>
        <label class="switch">
            <label for="isCasual">Joueur occasionnel ? </label>
            <input type="checkbox" class="checkbox" id="isCasual"
                (change)="dataToChild.isCasual = !dataToChild.isCasual">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isProactive">Plutôt proactif ? </label>
            <input type="checkbox" class="checkbox" id="isProactive"
                (change)="dataToChild.isProactive = !dataToChild.isProactive">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isExtravert">Extraverti ? </label>
            <input type="checkbox" class="checkbox" id="isExtravert"
                (change)="dataToChild.isExtravert = !dataToChild.isExtravert">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isPro">Joueur pro ? </label>
            <input type="checkbox" class="checkbox" id="isPro"
                (change)="dataToChild.isPro = !dataToChild.isPro">
            <span class="slider"></span>
        </label>
    </div>

    <div *ngIf="dataToChild.isPro">
        <label for="employer">Woah, dans quelle équipe ? </label>
        <input id="employer" name="employer" [(ngModel)]="dataToChild.employer" #employerCheck="ngModel">
    </div>

    <button type="submit">Suivant</button>

</form>