<form #secondForm="ngForm" (ngSubmit)="secondForm.valid && onSubmit()">

    <div>
        <label for="frequency">Fréquence de jeu ?</label>
    </div>

    <div>
        <label for="sessionDuration"></label>
    </div>

    <div>
        <label for="pveFriendly"></label>
    </div>

    <div>
        <label for="pvpFriendly"></label>
    </div>

    <div>
        <label for="isLeader"></label>
    </div>

    <div>
        <label for="isNocturnal"></label>
    </div>

    <div>
        <label for="isHotBlooded"></label>
    </div>

    <div>
        <label for="games"></label>
    </div>
    
    <button type="submit">Suivant</button>

</form>