<form #thirdForm="ngForm" class="form" (ngSubmit)="thirdForm.valid && onSubmit()">

    <div>
        <label for="frequency">Tu joues combien de jours par semaine ? </label>
        <input type="number" id="frequency" name="frequency" [(ngModel)]="dataToChild.frequencyPerWeek"
            #frequencyCheck="ngModel" required min="0" max="7">
    </div>

    <div *ngIf="thirdForm.submitted && frequencyCheck.errors">
        <small>Votre temps de jeu hebdomadaire doit être compris entre 0 et 7 jours</small>
    </div>

    <div>
        <label for="sessionDuration">Combien d'heures de jeu par jour ? </label>
        <input type="number" id="sessionDuration" name="sessionDuration"
            [(ngModel)]="dataToChild.sessionDurationInHour" #sessionDurationCheck="ngModel" required min="0" max="24">
    </div>

    <div *ngIf="thirdForm.submitted && sessionDurationCheck.errors">
        <small>Votre temps de jeu quotidien doit être compris entre 0 et 24 heures. Pensez à votre santé !</small>
    </div>

    <div>
        <label class="switch">
            <label for="isNocturnal">Nocturne ? </label>
            <input type="checkbox" name="isNocturnal" class="checkbox" id="isNocturnal" (change)="checkValue()"
            [(ngModel)]="dataToChild.isNocturnal" [checked]="dataToChild.isNocturnal">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isHotBlooded">Plutôt sanguin ? </label>
            <input type="checkbox" name="isHotBlooded" class="checkbox" id="isHotBlooded" [checked]="dataToChild.isHotBlooded"
            [(ngModel)]="dataToChild.isHotBlooded">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isLeader">Plutôt leader ? </label>
            <input type="checkbox" name="isLeader" class="checkbox" id="isLeader" [checked]="dataToChild.isLeader"
            [(ngModel)]="dataToChild.isLeader">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="pvpFriendly">Plutôt PVP ? </label>
            <input type="checkbox" name="pvpFriendly" class="checkbox" id="pvpFriendly" [checked]="dataToChild.pvpFriendly"
            [(ngModel)]="dataToChild.pvpFriendly">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="pveFriendly">Plutôt PVE ? </label>
            <input type="checkbox" name="pveFriendly" class="checkbox" id="pveFriendly" [checked]="dataToChild.pveFriendly" (change)="checkValuePVP()"
            [(ngModel)]="dataToChild.pveFriendly">
            <span class="slider"></span>
        </label>
    </div>

    <button type="submit">Suivant</button>

</form>