<p class="pagination">1 / 3</p>
<form #thirdForm="ngForm" class="form" (ngSubmit)="thirdForm.valid && onSubmit()">
    <p class="intro-form">Parle-nous de tes habitudes : </p>

    <div>
        <label for="frequency">Tu joues combien de jours par semaine ? </label>
        <input type="number" id="frequency" name="frequency" [(ngModel)]="dataToChild.frequencyPerWeek"
            #frequencyCheck="ngModel" required min="0" max="7">
    </div>

        <div *ngIf="thirdForm.submitted && frequencyCheck.errors">
            <small>Ton temps de jeu hebdomadaire doit être compris entre 0 et 7 jours</small>
        </div>

    <div>
        <label for="sessionDuration">Combien d'heures de jeu par jour ? </label>
        <input type="number" id="sessionDuration" name="sessionDuration"
            [(ngModel)]="dataToChild.sessionInHours" #sessionDurationCheck="ngModel" required min="0" max="24">
    </div>

        <div *ngIf="thirdForm.submitted && sessionDurationCheck.errors">
            <small>Ton temps de jeu quotidien doit être compris entre 0 et 24 heures. Pense à ta santé !</small>
        </div>

    <div>
        <label class="switch">
            <label for="isNocturnal">Tu préfères jouer la nuit ? </label>
            <input type="checkbox" name="isNocturnal" class="checkbox" id="isNocturnal"
            [(ngModel)]="dataToChild.nocturnal" [checked]="dataToChild.nocturnal">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isHotBlooded">Tu as le sang chaud ? </label>
            <input type="checkbox" name="isHotBlooded" class="checkbox" id="isHotBlooded" [checked]="dataToChild.hotBlooded"
            [(ngModel)]="dataToChild.hotBlooded">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="isLeader">Tu as l'âme d'un leader ? </label>
            <input type="checkbox" name="isLeader" class="checkbox" id="isLeader" [checked]="dataToChild.leader"
            [(ngModel)]="dataToChild.leader">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="pvpFriendly">Tu aimes le PVP ? </label>
            <input type="checkbox" name="pvpFriendly" class="checkbox" id="pvpFriendly" [checked]="dataToChild.pvp"
            [(ngModel)]="dataToChild.pvp">
            <span class="slider"></span>
        </label>
    </div>

    <div>
        <label class="switch">
            <label for="pveFriendly">Tu aimes le PVE ? </label>
            <input type="checkbox" name="pveFriendly" class="checkbox" id="pveFriendly" [checked]="dataToChild.pve" 
            [(ngModel)]="dataToChild.pve">
            <span class="slider"></span>
        </label>
    </div>

    <button class="btn" type="submit">Valider</button>

</form>