.form {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}

.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 2em;
}

.close {
    padding: 0px 4px 2px 4px;
    display: flex;
    float: right;
    color: #aaa;
    height: 100%;
    cursor: pointer;
}

div {
    width: 100%;
    margin-bottom: 1em;
  }

input {
    width: 100%;
    border-radius: 1em;
    border: 1px solid hsla(276deg, 36%, 65%, 0.4);
    padding: 0.2em;
}

.submit {
    padding: 1em 2em 1em 2em;
    font-size: 0.9em;
    border-radius: 2em;
    border: 3px solid #8738bb;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
  }
 

@media screen and (min-width: 388px) {
    .form-container {
        margin: auto;
        margin-top: 5%;
        width: 20em;
    }
}