button{
    cursor: pointer;
    border-radius: 1em;
    border: 2px solid #8738BB;
    color: black;
    padding: 0.3em 0.8em 0.3em 0.8em;
    font-weight: bold;
    &:hover{
        color : #8738BB;
    }
}