// @import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500&family=Libre+Franklin:wght@400;500;600;700&family=Tangerine:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Montserrat:wght@500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #ece9e6
  ); 
  background: linear-gradient(
    to top,
    #ffffff,
    #ece9e6
  ); 
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

label, input, select{
    font-family: 'Roboto', sans-serif;
}

p, a, ul, li{
    font-family: 'Hind Madurai', sans-serif;
}

:root{
    --superViolet : #8738BB;
}

