<p class="text-alternative-search">
  ou recherche par filtre :
</p>
<div class="container-checkbox">
  <div class="unitary-checkbox">
    <p>Joueur professionnel</p>
    <label class="switch">
      <input type="checkbox" (change)="isPro = !isPro"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur régulier</p>
    <label class="switch">
      <input type="checkbox" (change)="isCasual = !isCasual"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Leader d'équipe</p>
    <label class="switch">
      <input type="checkbox" (change)="isLeader = !isLeader"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>PVP friendly</p>
    <label class="switch">
      <input type="checkbox" (change)="isPvpFriendly = !isPvpFriendly"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>PVE friendly</p>
    <label class="switch">
      <input type="checkbox" (change)="isPveFriendly = !isPveFriendly"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Oiseau de nuit</p>
    <label class="switch">
      <input type="checkbox" (change)="isNocturnal = !isNocturnal"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur pro-actif</p>
    <label class="switch">
      <input type="checkbox" (change)="isProactive = !isProactive"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur extraverti</p>
    <label class="switch">
      <input type="checkbox" (change)="isExtravert = !isExtravert"/>
      <span class="slider"></span>
    </label>
  </div>
</div>
