<p class="text-alternative-search">
  ou recherche par filtre :
</p>
<div class="container-checkbox">
  <div class="unitary-checkbox">
    <p>Joueur professionnel</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsPro()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur régulier</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsCasual()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Leader d'équipe</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsLeadero()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>PVP friendly</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsPvpFriendly()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>PVE friendly</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsPveFriendly()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Oiseau de nuit</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsNocturnal()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur pro-actif</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsProactive()"/>
      <span class="slider"></span>
    </label>
  </div>
  <div class="unitary-checkbox">
    <p>Joueur extraverti</p>
    <label class="switch">
      <input type="checkbox" (change)="toggleIsExtravert()"/>
      <span class="slider"></span>
    </label>
  </div>
</div>
